<div style="display: none;" id="anketa" class="anketa__wrapper">
    <p class="drive__text mb30 center"><strong>Заполните свои данные,<br>чтобы получить доступ к выбранным услугам.</strong></p>
    <form id="anketa" class="form__anketa">
        <div class="form-group">
            <label class="drive__text" for="fio">Имя, Фамилия:</label>
            <input type="text" class="form-control" id="fio" placeholder="Введите Имя, Фамилию...">
        </div>
        <div class="form-group">
            <label class="drive__text" for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Введите ваш e-mail...">
        </div>
        <div class="form-group mb30">
            <label class="drive__text" for="tel">Номер телефона:</label>
            <input type="text" class="form-control" id="tel" placeholder="Введите ваш телефон...">
        </div>
        <div class="form-group center">
            <button type="submit" class="anketa__btn">Начать тест-драйв</button>
        </div>
    </form>
</div>