<div class="container mb50 bg__white">
        <div class="row">
            <div class="col-md-4">
                <div class="footer__wrapper">
                    <p class="drive__text">2019 © ООО ИЦ «ИСКРА»<br>
                        660017, г. Красноярск,<br>
                        ул. Марковского, д. 106,<br>
                        тел. +7(391)2-570-570</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer__wrapper">
                    <p class="drive__text center">Мы в социальных сетях:</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a href="https://vk.com/iskra.krsk" target="_blank" class="social__link">
                                <i class="ic ic__vk"></i><span>Вконтакте</span></a></li>
                        <li class="social__item">
                            <a href="https://www.facebook.com/iciskra.krsk/" target="_blank" class="social__link">
                                <i class="ic ic__fb"></i><span>Однокласники</span></a></li>
                        <li class="social__item">
                            <a href="https://ok.ru/group/51618145173644" target="_blank" class="social__link">
                                <i class="ic ic__ok"></i><span>Фейсбук</span></a></li>
                        <li class="social__item">
                            <a href="https://www.instagram.com/iskra.cons/" target="_blank" class="social__link">
                                <i class="ic ic__ig"></i><span>Инстаграм</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>