<div class="container mb50">
    <div class="row justify-content-between">
        <div class="col-md-3">
            <div class="logo__wrapper pt30">
                <a href="http://ic-iskra.ru" class="logo__link" target="_blank">
                    <img class="logo__img" src="http://ic-iskra.ru/wa-data/public/site/img/drive/logo.svg"></a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="tel__wrapper pt30">
                <p class="tel__text">Бесплатная региональная линия 8-800-7000-115 <br>г.Красноярск, тел.: <a class="tel__link" href="tel:83912570570">2-570-570</a></p>
                <div class="menu__wrapper">
                    <a class="menu__item" target="_blank" href="https://ic-iskra.ru/company">О компании</a>
                    <a class="menu__item" target="_blank" href="https://ic-iskra.ru/seminars/">Семинары и вебинары</a>
                </div>
            </div>
        </div>
    </div>
</div>