<div class="container mb50 bg__white">
        <div class="row">
            <div class="col-md-12 mb50 pt30">
                <p class="drive__text drive__head center">Нужна помощь? Остались вопросы?</p>
                <p class="drive__text drive__head center">Мы поможем!</p>
            </div>
            <div class="col-md-6">
                <div class="form__wrapper">
                    <form class="form">
                        <p class="drive__text center mb30"><strong>Оставьте свой номер, и мы перезвоним Вам!</strong></p>
                        <div class="form-group">
                            <label for="name" class="drive__text form__label">Имя:</label>
                            <input type="text" name="name" id="name" class="form-control form__inp">
                        </div>
                        <div class="form-group mb30">
                            <label for="tel" class="drive__text form__label">Номер телефона:</label>
                            <input type="text" name="tel" id="tel" class="form-control form__inp">
                        </div>
                        <div class="form-group center">
                            <button class="form__btn">Заказать звонок</button>
                        </div> 
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form__wrapper">
                    <form class="form">
                        <p class="drive__text center mb30"><strong>Или задайте Ваш вопрос прямо сейчас!</strong></p>
                        <div class="form-group">
                            <label for="name" class=" drive__text form__label">Имя:</label>
                            <input type="text" name="name" id="name" class="form-control form__inp" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label for="email" class=" drive__text form__label">E-mail:</label>
                            <input type="email" name="email" id="email" class="form-control form__inp">
                        </div>
                        <div class="form-group mb30">
                            <label for="question" class=" drive__text form__label">Вопрос:</label>
                            <textarea class="form-control form__textarea" name="question" id="question" rows="3"></textarea>
                        </div>
                        <div class="form-group center">
                            <button type="submit" class="form__btn">Отправить вопрос</button>
                        </div>                    
                    </form>
                </div>
            </div>
        </div>
    </div>