<div class="container bg-white">
    <div class="row">
        <div class="col-md-12">
            <h1 class="drive__header">Тест-драйв "ИСКРЫ"</h1>
            <blockquote class="cite">
                <h2 class="cite__header">Грамм собственного опыта стоит дороже тонны чужих наставлений.</h2>
                <cite class="cite__author">М. Ганди</cite>
            </blockquote>
            <div class="text__wrapper">
                <p class="drive__text center">Мы открываем пробный доступ на 7 дней к услугам нашей компании. Протестируйте услуги, которые ежедневно и без ограничений доступны нашим Клиентам. Примите обоснованное и взвешенное решение о сотрудничестве, положившись на собственный опыт.</p>
                <p class="drive__text"><strong>Чтобы получить персональное предложение, выберите род деятельности:</strong></p>
            </div>
            <ul class="rb__list mb50">
                <li class="rb__item active">Бухгалтер</li>
                <li class="rb__item">Юрист</li>
                <li class="rb__item">Руководитель</li>
                <li class="rb__item">Специалист <br>по кадрам</li>
                <li class="rb__item">Специалист <br>по закупкам</li>
                <li class="rb__item">Студент</li>
            </ul>
        </div>
    </div>
</div>