<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-10 mb30" >
    <div class="service__wrapper">
        //= check1.html
        <h3 class="service__header">Демоверсия системы КонсультантПлюс</h3>
        <p class="service__text">КонсультантПлюс – надёжный источник правовой информации, который содержит в себе тексты законов, указов, постановлений и других государственных документов. Ознакомьтесь с интерфейсом и получите полное представление обо всех возможностях системы ещё до покупки.</p>
        <p class="service__text">База данных быстро и регулярно обновляется. Благодаря этому вам доступны самые свежие изменения законодательства.</p>
        <p class="service__text">В демоверсии доступны полный каталог и некоторое количество текстов документов, а также весь каталог информационного банка.</p>
        <p class="service__text">Заполните форму ниже, чтобы получить доступ к системе КонсультантПлюс на 3 дня.</p>
        <h4 class="service__subheader">Преимущества:</h4>
        <ul class="profit__list">
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Онлайн доступ к системе КонсультантПлюс в любое удобное время;</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Простая и быстрая процедура регистрации;</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Логин и пароль придёт вам на почту.</p></li>
        </ul>
    </div>
</div>