<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-10 mb30" >
    <div class="service__wrapper">
        //= check.html
        <h3 class="service__header">Газета «Правовое обозрение»</h3>
        <p class="service__text">Единственное в Красноярском крае издание правовой направленности. В газете вы найдёте:</p>
        <ul class="po__list">
            <li class="po__item">Последние изменения российского законодательства, в том числе регионального;</li>
            <li class="po__item">Комментарии из первых рук: УФНС, УФАС, ГИТ, ОПФ, ФСС, Росреестр, органы исполнительной и законодательной власти региона;</li>
            <li class="po__item">Экспертные статьи в сфере бухучета, налогообложения, аудита, трудового права, юриспруденции;</li>
            <li class="po__item">Мнения по актуальным вопросам известных в стране экспертов-практиков;</li>
            <li class="po__item">Шпаргалки по работе с КонсультантПлюс;</li>
            <li class="po__item">Расписание обучающих мероприятий и многое другое.</li>
        </ul>
        <h4 class="service__subheader">Преимущества:</h4>
        <ul class="profit__list">
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Доступ к газете раньше, чем выйдет печатная версия</li>
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Специальная информация в удобное время, в любом месте</li>
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Гиперссылки мгновенного перехода в цитируемый источник</li>
        </ul>
    </div>
</div>