<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-10 mb30" >
    <div class="service__wrapper">
            //= check1.html
        <h3 class="service__header">Горячие новости для <span id="hotnews"></span></h3>
        <p class="service__text">В разделе представлены обзоры новых документов федерального законодательства, аналитические обзоры наиболее важных и интересных документов федерального законодательства, судебной практики, информация о документах.</p>
        <h4 class="service__subheader">Преимущества:</h4>
        <ul class="profit__list">
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Экспертный обзор новостей</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Ежедневное обновление материалов</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Все материалы прошли контрольную проверку</p></li>
        </ul>
    </div>
</div>