<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-10 mb30" >
    <div class="service__wrapper">
            //= check.html
        <h3 class="service__header">Рассылка полезных материалов</h3>
        <p class="service__text">Персональная рассылка, которая действительно полезна и интересна вам. Наши специалисты анализируют законодательство и готовят материалы, необходимые для работы бухгалтеров, юристов, кадровиков, специалистов по закупкам и руководителей. Получайте информацию об изменениях в законодательстве, актуальных для вашей профессиональной деятельности.</p>
        <h4 class="service__subheader">Преимущества:</h4>
        <ul class="profit__list">
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Анонс обучающих мероприятий по вашей специальности</li>
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Ответы экспертов «Линии консультаций» на «горячие» вопросы клиентов</li>
            <li class="profit__item"><img src="img/prof.png" class="profit__img">Информацию о новинках продукта и услугах «Искры»</li>
        </ul>
    </div>
</div>