<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-10 mb30" >
    <div class="service__wrapper">
        //= check.html
        <h3 class="service__header">Видеотека вебинаров</h3>
        <p class="service__text">В видеотеке собраны записи прошедших вебинаров для выбранного вами специалиста. На вебинарах лекторы разбирают изменения законодательства и профессиональные задачи ваших коллег.</p>
        <h4 class="service__subheader">Преимущества:</h4>
        <ul class="profit__list">
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Просматривайте вебинары, когда вам удобно</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">Записи вебинаров содержат актуальную на сегодняшний день информацию</p></li>
            <li class="profit__item">
                <img src="img/prof.png" class="profit__img">
                <p class="profit__text">С вебинарами вы получаете авторские методические материалы от лектора</p></li>
        </ul>
    </div>
</div>